<h1>Please sign up</h1>

<form action='/users' method='post'>
  <label for='email'>
    Email: <input type='email' name='email' placeholder='george@gov.uk' value ='<%= @user.email %>' required>
  </label>
  <label for='password'>
    Password: <input type='password' name='password' placeholder='12345'>
  </label>
  <label for='password'>
    Confirm: <input type='password' name='password_confirmation' placeholder='12345'>
  </label>
  <input type='submit' value='Sign up'>
</form>
